<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/metro-all.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
<header>
    <a href="/home" class="button">Home</a>
    <a href="/download_video" class="button">Download Video</a>
    <a href="" class="button">View Video</a>
    <div class="container">
        {% block header %}{% endblock %}
    </div>
</header>

<div class="container">
    <section>
        {% block content %}{% endblock %}
    </section>
</div>

<div class="container">
    <br>
    <a href="/" class="button">Start Page</a>
</div>



<script src="../static/jquery-3.4.1.min.js"></script>
<script src="../static/metro.min.js"></script>
<script src="../static/stop_server.js"></script>

</body>
</html>