{% extends "base.html" %}

{% block title %}
    YouTube Convertor
{% endblock %}

{% block header %}
  <h1>Home</h1>
{% endblock %}

{% block content %}
    <div>
        <p>
            This is a simple app that allows you to download videos from YouTube. <br><br>
            The videos are stored to your device, however the app allows you to view the videos without leaving the app.
        </p>
        <h3>Instructions</h3>
        <p>
            The app is simple to use:
        </p>
        <p><b>
            Step 1: Click the <i>Download Video</i> button.
            <img src="/static/step1.png" alt="step1">
        </b></p>
        <p><b>
            Step 2: Paste the YouTube link then press the <i>Download Video</i> button.
            <img src="/static/step2.png" alt="step2">
        </b></p>
        <p><b>
            Step 3: Click the <i>View Video</i> button to watch your videos.
            <img src="/static/step3.png" alt="step3">
        </b></p>
    </div>
{% endblock %}