{% extends "base.html" %}

{% block title %}
    Video Videos
{% endblock %}

{% block header %}
  <h1>View Videos</h1>
{% endblock %}

{% block content %}
    <div>
        <p>
            Scroll through your downloads to view your video.
        </p><br>
    </div>
    <div>
        <video width="100%" height="240" controls>
            <source src="/static/Tom & Jerry  Catch the Turkey!  @WB Kids.mp4" type="video/mp4">
            <!-- <source src="movie.ogg" type="video/ogg"> -->
            Your browser does not support the video tag.
        </video>
    </div>
{% endblock %}
